[submodule "generator/SteamKit"]
	path = generator/SteamKit
	url = https://github.com/SteamRE/SteamKit.git
[submodule "generator/Protobufs"]
	path = generator/Protobufs
	url = https://github.com/SteamDatabase/Protobufs.git
[submodule "SteamDatabase"]
	path = SteamDatabase
	url = https://github.com/SteamDatabase/Protobufs
[submodule "proto/steamdatabase"]
	path = proto/steamdatabase
	url = https://github.com/SteamDatabase/Protobufs
